@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Playfair+Display&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}

body{
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

img{
  max-width: 100%;
  height: auto;
}



/** header mat ego start **/

.main{
  position: relative;
  background: url('../img/7l8vx6hqybh41 1.png') no-repeat;
  background-size: 100%;
  height: 1080px;
}
.header{
   margin: 0 120px;
   display: flex;
}
 
.logo{
  display: flex;
  flex-wrap: wrap;
} 

.logo_pic{
  margin-top: 63px;
  height: 75px; 
}

.logo_txt{
  padding-top: 40px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  margin-left: 16px;
  color: white;
}
 
.nav{
  margin-left: 550px;
  margin-top: 88px;
} 

.header_list{
display: flex;
flex-wrap: wrap;
}
.header_item{
margin-right: 100px;
}
.header_item:last-child{
margin-right: 0;
}
.header_link{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: white;
  text-decoration: none;
}
.header_link:hover, .header_link:focus, .header_link:active{
opacity: .75;
}



.knop{
  position: absolute;
  text-decoration: none;
  border: 2px solid #FBCD55;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 44px;
  padding: 10px;
  margin-left: 1415px;
  margin-top: 75px;
}
/** header mat ego end **/

.block{
  position: absolute;
width: 752px;
height: 393px;
left: 770px;
top: 344px;

background: rgba(83, 83, 83, 0.5);
border-radius: 10px;
}

.soz{
  font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 65px;
line-height: 96px;
display: flex;
align-items: center;
text-align: center;
padding: 100px;
color: #FFFEFE;
}

.sec{
  height: auto;
  margin: 160px 120px;
}

.bas{
  align-items: center;
  text-align: center;
}

.pop{
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  color: #6C6767;
}

.lol{
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
  margin-top: 10px;
  color: #6C6767;
}

.hr{
  width: 100px;
  height: 4px;
  background-color: #FBCD55;
  border: none;
  margin-top: 28px;
}

.info{
  display: flex;
  margin-top: 100px;
}

.info_in{
  margin-left: 200px;
}

.hud{
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
  color: #6C6767;
}

.kik{
  margin-top: 50px;
  width: 557px;
  height: 264px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  color: #6C6767;
}

.info_pic_sec{
  margin-left: 250px;
}

.info_third{
  margin-top: 160px;
}

.mirana{
  position: absolute;
  text-decoration: none;
  background-color:  #FBCD55;
  border-radius: 15px;
  box-sizing: border-box;
  color: black;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 44px;
  padding: 15px;
  margin-left: 1165px;
  margin-top: 400px;
  width: 200px;
  text-align: center;
}

.pudge{
  position: absolute;
  text-decoration: none;
  background-color:  #FBCD55;
  border-radius: 15px;
  box-sizing: border-box;
  color: black;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 44px;
  padding: 15px;
  margin-top: 400px;
  width: 200px;
  text-align: center;
}

.third{
  margin: 0 120px;
}
.rubick{
  margin-top: 90px;
  text-align: center;
}

.rubick_info{
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #6C6767;
  display: flex;
  width: 497px;
  text-align: center;
  margin-top: 70px;
 align-items: center;
 margin-left: 770px;
}

.about{
  margin-top: 160px;
}

.invoker{
  margin: 0 120px;
}

.emp{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 32px;
}

.job{
  margin-top: 90px;
  text-align: center;
}

.job_title{
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #6C6767;
  margin-top: 30px;
  margin-bottom: 20px;
}

.job_info{
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  color: #9A8E8E;
  width: 348px;
  margin-left: 75px;
}

.io{
  width: 389px;
  height: 0px;
  border: 4px solid #CAC8C3;
  transform: rotate(-90deg);
}

footer{
  background: #1E1E1C;
  margin-top: 100px;
  margin-bottom: 0;
  height: 460px;
}
.footer{
  margin: 0 120px;
  display: flex;
}

.foot_title{
  color: #FFFEFE;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  padding-top: 44px;
}
.foor{
  color: #9A8E8E;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  margin-top: 25px;
}

.us{
  margin-top: 10px;
}

.task{
  margin-top: 25px;
}

.is_link{
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  color: #9A8E8E;
  text-decoration: none;
}
.kn{
  position: absolute;
  text-decoration: none;
  border: 2px solid #FBCD55;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 44px;
  padding: 10px;
  margin-top: 30px;
}

.bl1{
  margin-left: 162px;
}

.bl2{
  margin-left: 150px;
}

.bl3{
  margin-left: 300px;
}

.seti{
  margin-top: 25px; 
}
.soc{
  padding-right: 50px;
}